@font-face {
    src: url("../styles/PublicSans.woff2");
    font-family: 'Public Sans';
}

:root {
    --fontfamily: 'Public Sans', sans-serif;
    --fontsize: clamp(16px, 1.3vw, 20px);
    --fontsizesmall: .8em;
    --fontsizebig: 1.25em;
    --lineheight: 1.4;
    --lineheightsmall: 1.35;
    --lineheightbig: 1.45;
    --fontweight: 400;
    --fontweightthin: 350;
    --bgcolor: gainsboro;
    --textcolor: #191919;
    --accentcolor: #bf0b12;
    --loadingcolor: #ffc1c3;
    --linkunderline: #ffffff;
    --buttonbgcolor: #ffffff;
    --filterbgcolor: #ffffff;
    --fainttextopacity: .3; 
    --boxshadow: 0 0 2px .1px var(--buttonbgcolor);
    --boxshadow2: 0 0 2px .1px var(--filterbgcolor);
    --boxshadowstrong: 0 0 2px .1px var(--accentcolor);
    --buttonborderradius: clamp(20px,.1vw,40px);
    --margin: 12px;
    --marginsmall: 8px;
    --marginbig: 26px;
    --marginxl: 30px;
    --marginxxl: 60px;
    --canvaswidth: 68vw;
    --mobileppheight: 35ch;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: var(--fontfamily);
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    background: var(--bgcolor);
    color: var(--textcolor);
    line-height: var(--lineheight);
    letter-spacing: -.01em;
    word-spacing: -.003em
}

a,
a:visited,
a:active {
    color: var(--textcolor);
    text-decoration: none;
}

a.link {
    text-decoration: underline var(--linkunderline);
    -webkit-text-decoration: underline var(--linkunderline);
}
a.link:hover,
a.link:active {
    text-decoration: underline var(--accentcolor);
    -webkit-text-decoration: underline var(--accentcolor);
    color: var(--accentcolor) !important;
    transition: all 100ms ease;
}
.last-update a {
    text-decoration: underline var(--textcolor);
    -webkit-text-decoration: underline var(--textcolor);
}

input[type="radio"],
input[type="checkbox"] {
    display: none;
    appearance: none;
    -webkit-appearance: none;
}

input[type="radio"]+label,
input[type="checkbox"]+label {
    position: relative;
    text-transform: lowercase;
    opacity: var(--fainttextopacity);
    white-space: nowrap;
    cursor: pointer;
}

input[type="radio"]:checked+label,
input[type="checkbox"]:checked+label {
    text-transform: uppercase;
    color: var(--accentcolor);
    opacity: 1;
}

input[type="radio"]+label::before,
input[type="checkbox"]+label::before,
input[type="radio"]:checked+label::before,
input[type="checkbox"]:checked+label::before {
    margin-right: .3ch;
    /* content: '❊'; */
    content: '☼';
}
input[type="radio"]:checked+label::before,
input[type="checkbox"]:checked+label::before {
    color: var(--accentcolor);
}

/* input#age+label::before {
    content: '🌱';
}

input#size+label::before {
    content: '📏';
}

input#exercise+label::before {
    content: '⚽️';
}

input#ascending+label::before {
    content: '☝️';
    display: inline-block;
    transform: scale(1.1);
}

input#descending+label::before {
    content: '☝️';
    display: inline-block;
    transform: rotate(180deg) scale(1.1);
}

input#aptfriendly+label::before {
    content: '🛋️';
}

input#toilettrained+label::before {
    content: '🚽';
}

input#leashtrained+label::before {
    content: '🦮';
}

input#cuddledog+label::before {
    content: '🧸';
}

input#puppy+label::before {
    content: '🐥';
}

input#senior+label::before {
    content: '🐲';
}

input#kidsfriendly+label::before {
    content: '👶';
}

input#dogfriendly+label::before {
    content: '🐕';
}

input#catfriendly+label::before {
    content: '🐈';
}

input#patience+label::before {
    content: '💓';
}

input#vaxxed+label::before {
    content: '💉';
}

input#special-needs+label::before {
    content: '🩼';
} */

nav {
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    padding: var(--marginsmall);
    z-index: 999;
}

nav .links {
    display: flex;
    width: calc(100vw - var(--marginsmall)*2);
}

nav .links>* {
    flex: auto;
    text-align: center;
    position: relative;
}

@keyframes flash {
    0% {
        box-shadow: none;
    }

    50% {
        box-shadow: 0 0 20px 1px var(--accentcolor);
    }

    100% {
        box-shadow: none;
    }
}

nav .links .params-button.flash {
    animation: flash 2s infinite ease;
}

nav .puppy-legend {
    display: none;
    position: relative;
}

nav .right-col {
    display: flex;
    position: fixed;
    right: var(--margin);
    width: calc(100vw - var(--margin)*2);
}

nav .right-col.aligntop {
    bottom: auto !important;
    top: var(--margin) !important;
}
nav .right-col > * {
    flex: auto;
    text-align: center;
}

nav .adopt.button.hidden {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--marginbig);
    margin-bottom: var(--marginxxl);
}

#color-selectors {
    letter-spacing: .05em;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: var(--marginbig) var(--margin);
    z-index: 999;
    background: var(--bgcolor);
    border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    gap: var(--marginbig);
    max-width: 100vw;
    line-height: 1.8;
}
#color-selectors > div > div {
    display: flex;
    align-items: center;
    gap: var(--marginsmall);
}
#color-selectors input {
    width: 45px;
    height: 25px;
    border: none;
    background: none;
}
#color-selectors input[type="number"] {
    text-align: center;
    border-bottom: .5px solid var(--textcolor);
}
#color-selectors .close {
    position: absolute;
    right: 3px;
    top: 0;
    transform: translateY(-100%);
    background: radial-gradient(#ee6d6d,red);
    color: black;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-weight: 200;
    cursor: pointer;
}
.color-selectors-button {
    position: fixed;
    right: var(--margin);
    top: var(--margin);
    background-color: white;
    color: black;
    border: 1px solid red;
    width: 60px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    cursor: pointer;
    z-index: 999;
    border-radius: 80%;
}
.color-selectors-button::before {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    content: 'edit colors';
    color: firebrick;
    background: radial-gradient(var(--bgcolor),transparent);
    font-size: 16px;
    white-space: nowrap;
}

#intro,
#pp {
    padding: var(--margin);
}

#intro {
    font-size: var(--fontsizebig);
    line-height: var(--lineheightsmall);
    font-weight: var(--fontweightthin);
    max-width: 32ch;
}

#intro.disabled {
    user-select: none;
}

#intro2 {
    display: none;
}

#viz {
    position: relative;
}

#dogs .last-update {
    margin: var(--marginbig) var(--margin);
    opacity: var(--fainttextopacity);
    font-size: var(--fontsizesmall);
    letter-spacing: .05em;
}

#dogs.no-scroll {
    position: fixed;
    top: calc(var(--margin) * -3);
    background: var(--bgcolor);
    width: 100vw;
    height: 100vh;
    pointer-events: none !important;
    user-select: none !important;
}

#dogs.hidden {
    height: 1vh !important;
    overflow-y: hidden;
    opacity: 0 !important;
}

#dogs .labels div.puppy-legend {
    display: flex;
    position: relative;
}

nav .puppy-legend .blur-bg,
#dogs .puppy-legend .blur-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    width: 2.6ch;
    height: 2.6ch;
    border-radius: 100%;
    padding-bottom: 1px;
    background: #bbbbbb;
    box-shadow: 0 0 2px 1px #bbbbbb;
    /* background: radial-gradient(#868686, transparent); */
    position: absolute;
    left: 1.5ch;
    top: 50%;
    transform: translateY(-50%);
}

nav .puppy-legend p,
#dogs .puppy-legend p {
    text-transform: none;
    padding-left: 4.5ch;
}

#dogs #canvas-wrapper {
    position: relative;
}

#dogs #available-dogs {
    position: relative;
}

#dogs #adopted-dogs {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#dogs .dogs-wrapper {
    position: relative;
}

#dogs canvas.dog-heads {
    width: var(--canvaswidth);
}

#dogs .dog-underlay,
#dogs .dog-overlay {
    position: absolute;
    top: 0;
    left: 0;
}

@keyframes zoomout {
    0% {
        transform: scale(2);
    }

    10% {
        transform: scale(1);
    }
}

#dogs .dog-underlay .underlay {
    background-size: cover;
    filter: grayscale(100%);
    position: relative;
    animation: zoomout 1s 1 ease;
}

#dogs .dog-overlay .overlay {
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: center;
    user-select: none;
}

#pp {
    position: fixed;
    bottom: 0;
    left: 0;
    user-select: none;
}

#pp #params {
    background: var(--bgcolor);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: var(--marginbig) var(--margin);
    padding-top: calc(var(--margin) + var(--marginbig) + 4ch);
    font-size: var(--fontsizebig);
    font-weight: var(--fontweightthin);
    box-shadow: -1px 0 20px 5px #46464664;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: var(--marginbig);
    width: 100vw;
}

#pp #params .last-update {
    display: none;
}

#pp #params .filter {
    line-height: var(--lineheightbig);
}

#pp #params .filter .result-count {
    color: var(--accentcolor);
    margin-left: var(--margin);
}

#pp #params .sort {
    display: flex;
    position: relative;
    gap: var(--marginbig);
}

#pp #params .sort .list {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 14ch;
}

#pp #params :is(.sort .list, .filter > div)>div {
    display: flex;
    align-items: center;
}

#pp #params .info-wrapper {
    position: relative;
}

#pp #params .info-button::after {
    content: '𝒾';
    font-size: .85em;
    display: flex;
    width: 1.8ch;
    height: 1.8ch;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    color: var(--accentcolor);
    background: radial-gradient(var(--buttonbgcolor),var(--buttonbgcolor),var(--bgcolor));
    white-space: nowrap;
    position: relative;
    bottom: .1ch;
}

#pp #params .info-button {
    display: inline-block;
    opacity: var(--fainttextopacity);
    cursor: pointer;
    margin-left: .3ch;
}

#pp #params .info {
    opacity: 0;
    font-size: var(--fontsize);
    font-weight: var(--fontweight);
    line-height: var(--lineheight);
    background: var(--filterbgcolor);
    box-shadow: var(--boxshadow2);
    padding: 2.5ch 3ch 2.5ch 3ch;
    border-radius: var(--buttonborderradius);
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-10%, -100%);
    width: 37ch;
    max-width: calc(100vw - var(--margin)*2);
    pointer-events: none;
    user-select: none;
}

#pp #params .info-button:hover {
    opacity: 1;
}

#pp #params .info-button:hover+.info {
    opacity: 1;
    z-index: 999;
}

#pp #dog-profile {
    height: var(--mobileppheight);
    width: 100%;
    display: flex;
    flex-direction: column;
    line-height: var(--lineheightbig);
    gap: var(--marginbig);
    overflow-y: scroll;
    /* padding-bottom: var(--marginsmall); */
}
/* #pp #dog-profile::after {
    content: ' ';
    position: absolute;
    width: 100%;
    height: 12px;
    background: linear-gradient(to bottom, transparent, var(--bgcolor), var(--bgcolor));
    bottom: var(--marginsmall);
    left: 0;
} */

#pp #dog-profile > div > p::before {
    content: '☼';
    color: var(--accentcolor);
}

#pp #dog-profile :is(p:has(.not),span.not) {
    display: none;
}
#pp #dog-profile p:has(.size) {
    display: inline;
}

#pp #dog-profile .name {
    margin-top: var(--margin);
    text-transform: uppercase;
    font-size: var(--fontsizebig);
    font-weight: var(--fontweightthin);
    line-height: var(--lineheightsmall);
    color: var(--accentcolor);
}

#pp #dog-profile .health span {
    color: var(--accentcolor);
}

.button {
    cursor: pointer;
    user-select: none;
    padding: var(--marginsmall) var(--margin);
    background: var(--buttonbgcolor);
    box-shadow: var(--boxshadow);
    border-radius: var(--buttonborderradius);
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.pop {
    opacity: 1 !important;
}

nav .left-col.hidden,
#dog-profile .health.hidden,
.dog-underlay .underlay.hidden {
    display: none !important;
}

.alert {
    color: var(--accentcolor);
}

.disabled {
    cursor: wait !important;
    pointer-events: none !important;
}

.loading {
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent, var(--buttonbgcolor), transparent);
    width: 100vw;
    height: var(--mobileppheight);
    overflow-x: hidden;
}

.loading .progress {
    background: linear-gradient(to bottom, transparent, var(--loadingcolor), transparent);
    height: 100%;
    width: 0%;
    display: flex;
    align-items: center;
    position: relative;
    transition: all 300ms ease;
}

.loading .progress p {
    position: absolute;
    right: 0;
    top: 50%;
    white-space: nowrap;
    transform: translate(calc(100% + var(--marginsmall)), -50%);
}

.loading .progress .dog-icon {
    font-size: 2em;
    display: inline-block;
    transform: scaleX(-1);
}

@media (hover:hover) {
    #dogs .dog-overlay .overlay {
        opacity: var(--fainttextopacity);
    }

    nav .puppy-legend:hover,
    a.link:hover,
    nav .back.button:hover,
    input+label:hover,
    .dog-overlay .overlay:hover {
        color: var(--textcolor);
        opacity: 1 !important;
        transition: all 100ms ease;
    }

    .button:hover {
        background: var(--accentcolor);
        color: var(--bgcolor) !important;
        box-shadow: var(--boxshadowstrong);
        font-weight: var(--fontweightthin);
        transition: all 100ms ease;
    }
}

@media (min-width: 900px) {
    #color-selectors {
        font-size: var(--fontsizesmall);
        max-width: auto;
        padding: var(--marginxl);
        gap: var(--marginxl);
    }
    #color-selectors .close {
        right: 0;
        top: -2px;
        transform: translateX(100%);
    }
    nav {
        flex-direction: row;
        position: sticky;
        top: 0;
        align-items: center;
        background: linear-gradient(to top, transparent, var(--bgcolor));
    }

    nav .left-col {
        width: var(--canvaswidth);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav .right-col {
        margin-left: var(--marginxl);
        position: relative;
        transform: none;
        top: 0;
        right: 0;
        border: none;
        width: auto;
    }

    nav .links {
        width: max-content;
        gap: 0;
    }

    nav .links>*::before,
    nav .links>*::after {
        display: none;
    }

    nav .puppy-legend {
        user-select: none;
    }

    nav .params-button {
        display: none;
    }

    nav .puppy-legend {
        display: flex;
        gap: 0;
    }

    main {
        margin-bottom: 0;
    }

    #intro {
        display: none;
        padding-top: var(--marginbig);
    }

    #intro2 {
        display: inline;
        max-width: 35ch;
    }

    #viz {
        display: flex;
        gap: var(--marginxl);
    }

    #dogs {
        position: relative;
    }

    #dogs .last-update {
        display: none;
    }

    #dogs .labels {
        display: none;
    }

    #pp {
        position: sticky;
        bottom: auto;
        height: 100%;
    }

    #pp #params {
        font-size: var(--fontsize);
        font-weight: var(--fontweight);
        background: none;
        box-shadow: none;
        bottom: auto;
        top: var(--margin);
        left: var(--margin);
        padding: 0;
        justify-content: start;
        width: calc(100% - var(--margin) * 2);
        height: auto;
        overflow: visible;
    }

    #pp #params .last-update {
        display: inline;
        opacity: var(--fainttextopacity);
        font-size: var(--fontsizesmall);
        letter-spacing: .02em;
    }

    #pp #params .filter>div {
        display: inline;
    }

    #pp #params .info {
        padding: 2.3ch 2.8ch 2.3ch 3ch;
    }

    #pp #dog-profile {
        /* background: blue; */
        height: calc(100vh - 6.6ch);
        max-width: 38ch;
        display: flex;
        flex-direction: column;
        line-height: var(--lineheight);
    }

    #pp #dog-profile .name {
        padding-bottom: 0;
    }

    .loading {
        width: var(--canvaswidth);
        bottom: 50%;
        transform: translateY(50%);
    }
    .button {
        padding: 5px var(--margin);
        background: var(--buttonbgcolor);
    }
}

@media (min-width:1100px) {
    #pp #params .filter>div {
        display: flex;
        gap: 2ch;
    }
}

@supports (-webkit-touch-callout:none) {
    :root {
        --fontweight: 480;
        --fontweightthin: 430;
    }
}