:root {
    --bg-color: #1d1d1d;
    --main-color: #b9b9b9;
    --highlight-color: #f36b50;
    --main-font: 'Inter', sans-serif;
    --main-font-size: clamp(12.5px, 3vw, 16px);
    --main-font-weight: 420;
}

a,
a:hover,
a:visited {
    color: var(--main-color);
    text-decoration: none;
}

html {
    scrollbar-width: thin;
    scrollbar-color: #4d4d4d var(--bg-color);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    font-weight: var(--main-font-weight);
    color: var(--main-color);
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 0;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    z-index: 99;
}

nav>* {
    padding: 5px;
    border-bottom: 1px var(--main-color) solid;
    opacity: .4;
    transition: all 50ms ease;
}

nav>*:hover,
nav>*:active {
    opacity: 1;
    transition: all 50ms ease;
}

svg {
    overflow: visible;
}

#cta {
    color: var(--highlight-color);
    position: absolute;
    writing-mode: vertical-lr;
    font-size: .8em;
    opacity: .5;
    letter-spacing: .05em;
}

#count-display {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-align: center;
    opacity: .5;
    font-size: .8em;
    line-height: 1.4;
}

#footnote {
    position: absolute;
    font-size: .7em;
    line-height: 1.5;
    opacity: .4;
}

#digit-count {
    position: relative;
}

.count {
    font-size: .8em;
    fill: var(--main-color);
    text-anchor: end;
    dominant-baseline: end;
    font-weight: 500;
    cursor: pointer;
    transition: all 100ms ease;
}

.demo-digit {
    fill: var(--main-color);
    text-anchor: middle;
    font-size: 2.2em;
    opacity: .4;
    transition: all 100ms ease;
}

.demo-line {
    stroke: var(--main-color);
    fill: none;
    opacity: .15;
    transition: all 100ms ease;
}


.highlight {
    fill: var(--highlight-color) !important;
    opacity: 1 !important;
    transition: all 100ms ease;
    font-weight: 400;
}

.highlight-path {
    stroke: var(--highlight-color);
    opacity: 1;
    transition: all 100ms ease;
}

.highlight-circle {
    fill: var(--highlight-color);
    stroke: var(--highlight-color);
    stroke-width: 20px;
    opacity: .15;
}

.highlight-bigger {
    font-size: .9em;
}

.axis-label,
.tick,
.zero {
    cursor: pointer;
}

.x-axis,
.y-axis {
    fill: var(--main-color);
}

.x-axis .tick {
    fill: var(--main-color);
    text-anchor: start;
    transform: rotate(-90deg);
}

::-webkit-scrollbar {
    width: 3px;
    height: 3px;
}

::-webkit-scrollbar-track {
    background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
    background: #4d4d4d;
    border-radius: 10px;
}

::-webkit-scrollbar-corner {
    background: var(--bg-color);
}

@media (max-width: 1000px) and (orientation:portrait) {
    nav {
        padding: 0;
        width: 100%;
        justify-content: center;
        bottom: 30px;
        gap: 40px;
    }
}