@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@font-face {
    font-family: 'Inter var';
    src: url('../fonts/Inter.var.woff2');
}
:root {
    --base-color: #ababab;
    --text-color: #1c1c1c;
    --accent-color: #33ff00;
    --main-font: 'Inter var', sans-serif;
    --main-font-size: clamp(14px, 3vw, 20px);
    --main-font-weight: 450;
}

html {
    scrollbar-width: thin;
    scrollbar-color: var(--accent-color) var(--base-color);
    margin: 0;
    font-feature-settings: 'tnum' 1;
}

body {
    font-size: var(--main-font-size);
    font-family: var(--main-font);
    font-weight: var(--main-font-weight);
    font-variation-settings: 'wght' var(--main-font-weight);
    color: var(--text-color);
    background-color: var(--base-color);
    line-height: 1.4;
    position: relative;
}

body,
p {
    margin: 0;
}

a,
a:visited {
    color: var(--text-color);
    text-decoration: none;
    transition: all 150ms ease;
}

a:hover,
a:active {
    color: var(--accent-color);
    letter-spacing: .1em;
    transition: all 150ms ease;
}

#name {
    position: fixed;
    top: 10px;
    left: 12px;
}

#menu {
    position: fixed;
    right: 15px;
    bottom: 12px;
    display: flex;
    gap: 12px;
}

#about {
    z-index: 1000;
    transition: all 150ms ease;
}

#about:hover,
#about:active {
    color: var(--accent-color);
    letter-spacing: .1em;
    transition: all 150ms ease;
    cursor: pointer;
}

#about-bg {
    height: 1900px;
    width: 1900px;
    background-image: radial-gradient(var(--accent-color), transparent, transparent);
    border-radius: 100%;
    position: absolute;
    bottom: -12px;
    right: -15px;
    transform: translate(40%, 44%);
    opacity: 0;
    cursor: auto;
    pointer-events: none;
}

@media (max-width:500px){
    #about-bg {
        height: 1400px;
        width: 1400px;
        transform: translate(41%, 43%);
    }
}

#about-container {
    position: absolute;
    bottom: 0;
    right: 0;
    display: none;
    flex-direction: column;
    align-items: end;
    gap: 20px;
    width: clamp(280px,65vw,400px);
    opacity: 0;
}

#about-details {
    text-align: end;
}

#about-back {
    transition: all 150ms ease;
}

#about-back:hover,
#about-back:active {
    font-weight: var(--main-font-weight);
    letter-spacing: .1em;
    transition: all 150ms ease;
    cursor: pointer;
}

.article {
    fill: var(--text-color);
    transition: all 150ms ease;
    dominant-baseline: middle;
}

.article:hover,
.article:active {
    fill: var(--accent-color);
    cursor: pointer;
}

#articles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.article-axis {
    stroke: var(--accent-color);
}