@font-face {
    font-family: 'iA Writer Quattro';
    src: url('iAWriterQuattroV.woff2');
}
:root {
    --font-family: 'iA Writer Quattro';
    --font-weight: 400;
    --font-size: clamp(14px,1vw,16px);
    --font-size-small-text: .75em;
    --line-height: 1.6;
    --line-height-small-text: 1.45;
    --letter-spacing-symbol: -.1em;
    --letter-spacing-small-text: .05em;
    --word-spacing: -.15em;
    --word-spacing-small-text: -.1em;
    --bg-color: #0c0c0c;
    --bg-color-low-opacity: #0c0c0c94;
    --text-color: #d9d9d9;
    --underline-color: #d9d9d9;
    --scrollbar-thumb-color: #444444;
    --accent-color: #ff1337;
    --margin: 28px;
    --margin-small: 22px;
    --paragraph-width: 60ch;
    --text-indent: 3ch;
    --opacity-faint: .4;
    --opacity-faint-small-text: .6;
    --transition: all 150ms ease-out;
    --transition-slow: all 250ms ease-out;
    --transition-slow-delayed: all 250ms 300ms ease-out;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
}
html {
    scrollbar-width:none;
    scroll-behavior: smooth;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
}
body {
    overflow-x: hidden;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    line-height: var(--line-height);
    word-spacing: var(--word-spacing);
    background: var(--bg-color);
    color: var(--text-color);
}
a, a:visited {
    color: var(--text-color);
    text-decoration-color: transparent;
    text-decoration-thickness: .5px;
    text-underline-offset: 2px;
}
main {
    position: relative;
}
h1 {
    font-size: var(--font-size);
    font-weight: var(--font-weight);
    text-transform: uppercase;
}
#sketches {
    line-height: 1;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -1;
}
#sketch2 {
    position: absolute;
    top:0;
    left:0;
    mix-blend-mode: difference;
}
#intro {
    padding: var(--margin-small) var(--margin);
    position: relative;
    max-width: var(--paragraph-width);
    min-height: 100vh;
    background: linear-gradient(to right,var(--bg-color),transparent);
}
#intro p {
    text-indent: var(--text-indent);
}
#intro .contact span {
    text-indent: 0;
    display:inline-block;
    width: 2.9ch;
}
#intro h1 {
    display: inline-block;
    position: relative;
    transition: var(--transition);
    padding: 1ch 0 .5ch 0;
    min-width: 35%;
}
#intro .open h1 {
    padding-left: var(--text-indent);
    opacity: 1;
}
#intro h1::before{
    content: ' ';
    color: var(--accent-color);
    letter-spacing: var(--letter-spacing-symbol);
    line-height: var(--line-height);
    position: absolute;
    left:0;
}
#intro .open h1::before{
    content: '{×}';
}
#intro .text-container {
    padding: 1ch 0;
    display: none;
}
#intro .open .text-container {
    display: block;
}
.button {
    cursor: pointer;
}
.author,
.year {
    opacity: var(--opacity-faint-small-text);
    margin-left: 1ch;
    font-size: var(--font-size-small-text);
    letter-spacing: var(--letter-spacing-small-text);
    word-spacing: var(--word-spacing-small-text);
    text-transform: uppercase;
}
#progress {
    position: fixed;
    right: 0;
    bottom: 25vh;
    transform: translateY(50%);
    text-align: end;
    padding: var(--margin) var(--margin-small);
}
#progress .pct {
    display: block;
    padding-right: 1ch;
    transition: var(--transition-slow);
}
#progress .pct.hidden {
    transform: translateX(-10px);
}
#progress .note {
    max-width: 35ch;
    opacity: var(--opacity-faint-small-text);
    font-size: var(--font-size-small-text);
    letter-spacing: var(--letter-spacing-small-text);
    line-height: var(--line-height-small-text);
}
#progress .redraw {
    text-transform: uppercase;
    padding: var(--margin) var(--margin-small);
    padding-right: calc(3.6ch + var(--margin-small));
    position: absolute;
    right:0;
    top:0;
    transition: var(--transition-slow-delayed);
}
#progress .redraw.hidden {
    padding-right: var(--margin-small);
    transition: var(--transition);
}
#progress .redraw::after {
    content: '{∞}';
    color: var(--accent-color);
    letter-spacing: var(--letter-spacing-symbol);
    position: absolute;
    padding-right: .9ch;
    right: var(--margin-small);
}
#progress .redraw.hidden::after{
    content: ' ';
}
.separator::before {
    content: '&';
    font-size: var(--font-size-small-text);
    font-weight: 550;
    margin: 0 .85ch;
}
.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}
@media (max-width:500px) {
    :root {
        --font-size: clamp(13px,1vw,14px);
        --line-height: 1.75;
        --line-height-small-text: 1.6;
        --margin: 16px;
        --margin-small: 12px;
    }
    #intro {
        z-index: 100;
        position: relative;
        max-width: auto;
        width: 100vw;
        min-height: auto;
        padding: 4ch var(--margin-small);
        margin-top: 55ch;
        margin-bottom: 8ch;
        background: linear-gradient(to bottom, transparent,var(--bg-color-low-opacity),var(--bg-color-low-opacity),var(--bg-color-low-opacity),var(--bg-color-low-opacity),transparent);
    }
    #intro p {
        max-width: calc(var(--paragraph-width) - var(--margin-small) * 2);
    }
    #progress {
        z-index: 1000;
        position: absolute;
        top: 0;
        bottom: auto;
        transform: translateY(-20ch);
    }
}
@media (hover:none){
    #intro h1 {
        padding: 1.5ch 0 1ch 0;
    }
    #intro :is(#resources,#projects) .link {
        padding-top: 1.5ch;
    }
    #intro :is(#projects,#resources) .link:first-of-type {
        padding-top: 0;
    }
}
@media (hover:hover){
    nav .button {
        opacity: .3 !important;
    }
    a:hover {
        text-decoration-color: var(--underline-color);
    }
}